body {

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
  }

  main{
    height: 130vh;
  }
  .portada{
    margin-top: 10vh;
    height: 20vh;
    text-align: center;
    background-image:url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
  }
  a {
    color: #00B7FF;
  }
  footer{
    margin-top: 10vh;
  }
  .botonTitulo{
  margin-top: 10px;
  background-color: blueviolet !important;
  border: 1px solid white !important;
  color: white !important;
  }
  .contenedorIndex{
    height: 510px;

  }
  .div1{
    position:absolute;
    bottom:0;
    height: 200px;
    width: 22%;
    background-image: url("../img/imagen1pequeña.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .div2{
    position:absolute;
    bottom:0;
    height: 200px;
    width: 22%;
    background-image: url("../img/img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .div3{
    position:absolute;
    bottom:0;
    width: 22%;
    height: 200px;
    background-image: url("../img/img4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
    margin-bottom: 30px;
  }
  .prueba{
    background-color: #00B7FF;
  }
  .div4{
    
    background-image: url("../img/img1.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .listaIndex{
    list-style: none;
    font-size: 27px;
  }
  .ultimaFila{
    height: 20vh;
  }
  .pie{
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;

  }
  .tarjetaGuias{
    display: inline-block;
  }
  .fotoResumenGuia{
    width: 25vh;
    height: 23vh;
    max-width: 30vh;
    max-height: 23vh;
  }
  .fotoResumenGaleria{
    max-width: 27vh;
    max-height: 30vh;
  }

  .botonGaleria{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 20%;
    margin-bottom: 10%;
    color: white;
    margin-left: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-radius: 60px;
    border: none;
    background-image:url("../img/carrito.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .cuerpo_principal{
    height: 100vh;
  }
  .comprar{
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    background-color: rgb(52, 52, 236);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-radius: 60px;
    border: 2px solid blueviolet;
  }
  .enlaceCard{
    text-decoration: none;
    color: black;
  }
  a{
    color: black;
  }
  .marco{
    margin-top: 160px;
    min-height: 110vh;
    min-width: 120vh;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .lienzo{
    margin-left: 230px;
    margin-top: 80px;
  }
  .botoncerrar{
    text-decoration: none;
    width: 20px;
    text-align: center;
    background-color: black;
    font-size: larger;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
  }
  .formulario{
    margin-top: 5%;
  }
  .bg-image-vertical {
    position: relative;
    overflow: hidden;
    padding: 50px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }
  label{
    display: inline-block;
    width: 80px;
    width: 150px;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Lato';
  }
  input,select{
    border-radius: 50px;
    border: 2px solid #ccc;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
    padding: 10px;
  }
