<%- include("template/header", {tituloWeb: 'Inicio'}) %>
  <main class="container" role='main'>
    <div class="portada">
      <h1 class="titulo"> Bienvenid@ a el hogar de la impresion 3D</h1>
      <p class="lead">
        Descubre todas nuestras guías <br>
        <a class="botonTitulo btn btn-lg" href='guide' role='button'> Descubrelo! &raquo;</a>
      </p>
    </div>

    <container>

    <div class="row">
      <div class="col contenedorIndex">
        <h2>Innovación</h2>
        <p>
           Impresión 3D: la innovación tecnológica que transformará al mundo. ¿Se imaginan a sus hijos pequeños fabricando sus propios juguetes?, no nos referimos a reciclar algún material o recurrir a un trabajo manual, sino a diseñar y producir, por ejemplo, el muñeco de su héroe favorito con algunos rasgos personalizados.
        </p>
        <div class="div1"></div>
      </div>
      <div class="col contenedorIndex">
        <h2>Creatividad</h2>
        <p>
           La libertad y la creatividad que permite la impresión 3D en la ingeniería industrial, significa que se puede crear casi cualquier cosa, sin necesidad de almacenes llenos de maquinaria cara.on la impresión 3D, una empresa ya no está obligada a diseñar un producto en grandes cantidades para obtener rentabilidad. La tecnología permite fabricar piezas únicas o de bajo rendimiento, ofreciendo una apuesta menos arriesgada para startups y pymes que desean ingresar a nuevos mercados.
        </p>
          <div class="div2"></div>
      </div>
      <div class="col contenedorIndex">
        <h2>Tecnologia</h2>
        <p>
          La estereolitografía, también conocida como SLA o SL, es la tecnología más veterana en el campo de la impresión 3D. En Materialise, hemos utilizado esta técnica desde 1990 y sigue siendo una de las tecnologías de prototipado rápido más utilizadas con materiales plásticos.
        </p>
        <p>
           Aplicaciones más habituales
        </p>
        <p>
            Prototipos visuales y piezas para presentaciones
        </p>
        <p>
            Piezas patrón para técnicas como la colada al vacío
        </p>

        <div class="div3"></div>
      </div>

    </div>
    <br>
    <br>
    <br>

    <div class="row ultimaFila">
        <div class="col-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>21 JAN</b> &nbsp;¡Nuevo sistema Core XY!</li>
            <li class="list-group-item"><b>2 FEB</b> &nbsp;&nbsp; Impresora HALOT-MAX</li>
            <li class="list-group-item"><b>14 FEB</b> &nbsp;Nueva Guia: Filamentos flexibles </li>
            <li class="list-group-item"><b>6 MAR</b> &nbsp;CR-30 3DPrintingMill</li>
            <li class="list-group-item"><b>18 MAR</b> &nbsp;¡Ofertas en filamento PLA!</li>
          </ul>
        </div>
        <div class="col-6"><b>
          <div class="div4"></div>
        </div>
      </div>

   </container>
  </main>
  <br>
<%- include("template/footer") %>