
<%- include("template/header" , {tituloWeb: "Crear usuario" }) %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h2>Crear nuevo usuario</h2>
        </div>
        
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <form action="/" class="my-2" method="POST">
                <input type="text" required placeholder="Nombre" id="nombre" class="form-control my-2" name="nombre">
                <input type="text" required placeholder="Apellidos" id="apellidos" class="form-control my-2" name="apellidos">
                <input type="email" required placeholder="Correo electrónico" id="email" class="form-control my-2" name="email">
                <input type="text" required placeholder="Usuario" id="usuario" class="form-control my-2" name="usuario">
                <input type="password" required placeholder="contraseña" id="contrasena" class="form-control my-2" name="password">
                <button type="submit" id="crear" class="btn btn-dark btn-block mt-3">
                    Crear
                </button>
                    <label>
                      <a href="/vistaLogin" class="btn btn-dark btn-block mt-3 ms-3 link">Volver</a>
                    </label>
            </form>
        </div>
      
    </div>
  
</div>
<script src="../js/registro.js"></script>

<%- include("template/footer") %>